*.aar
*.jar
*.iml
.gradle
.idea
.kotlin
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/exclave-core/*.dat
/app/src/main/jniLibs/arm64-v8a/*.so
/service_account_credentials.json
jniLibs/x86/
jniLibs/x86_64/
jniLibs/armeabi-v7a/
go.work
go.work.sum
